<!doctype html>
<html lang="pt-br">
  <head>
	<!--Página de Sócios 2-->

	<title>Buffet Asset</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="descrição" content="Conheça mais sobre um dos profissionais mais bem preparados no mercado financeiro para te orientar: Jessica Andrade de Souza. Aqui a sua carteira de investimentos vai ser bem gerenciada para obter os melhores resultados possíveis e aumentar o seu patrimônio.">

    <!-- Bootstrap CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- CSS e JS próprios -->
	<link rel="stylesheet" href="style.css">
	<script type="text/javaScript" src="javaScript.js"></script>

  </head>
  <body>
		<div class="main">
			<header>
				<nav class="navbar navbar-expand-lg navbar-light">
					

					<a class="navbar-brand" href="/"><img id="logo" src="/image/logo.png" title="Buffett Asset" alt="Buffett Asset"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarSupportedContent" >
						<ul class="navbar-nav me-auto mb-0 mb-md-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/" style="margin-left: 50px; margin-top: 10px;"><p class="texto-menu">Home</p></a>
							<li class="nav-item dropdown" style="margin-left: 50px; margin-top: 10px;">
								<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="texto-menu">Acessores</span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #9E8FCA;">
								<li>
									<button id="socio1" onclick="document.location='socio1'" onmouseover="changeBG(1)" onmouseleave="oldColor(1)" class="dropdown-item" style="background-color:  #9E8FCA">
										<p>Jordan Ross Belfort</p>
									</button>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<button id="socio2" onclick="document.location='#'" onmouseover="changeBG(2)" onmouseleave="oldColor(2)" class="dropdown-item" style="background-color:  #9E8FCA;">
										<p>Jessica Andrade de Souza</p>
									</button>
								</li>
								</ul>
							</li>
							
							<a class="nav-link active" href="/contato"><p class="texto-menu" style="margin-left: 50px; margin-top: 10px;">Contato</p></a>
							
						</li>
						</ul>

						<form action="/login" method="GET" class="nav-right">
							<% if (!isLogged ) { %>
								<div id="botao-login">
									<div class="login-decoracao">
										<a href="/login"><button class="acessar-conta"><p class="texto-menu" id="texto-login">Acesse sua conta</p></button></a>
									</div>
								</div>
								<script>
								/**/   
								</script>
							<% } %>
						</form>
						<form action="/" method="POST">
							<% if (isLogged) { %>
								<!-- Opções do usuário após efetuar login -->
								<div id="menu-conta" class="menu-conta" style="margin-left: 40px;">
									<div class="container px-4">
										<div class="row gx-5">
											<div class="col">
												<div class="p-3">
													<img id="img" width="70px" src="/image/carteira-digital.png" alt="Carteira de investimento" title="Carteira">
												</div>
											</div>
											<div class="col">
												<div class="p-3">
													<div class="dropdown">
														<img class="dropdown-toggle" id="img" width="70px" src="/image/profile.png" alt="Perfil" title="Perfil" data-bs-toggle="dropdown" aria-expanded="false">
														<ul class="dropdown-menu" aria-labelledby="img" style="background-color: #9E8FCA;">
															<form action="/" method="POST">
																<li>
																	<button class="dropdown-item" id="m-op" type="button">Acessar Carteira</button>
																</li>
																<li>
																	<button class="dropdown-item" id="m-op" type="button">Alterar Email</button>
																</li>
																<li>
																	<button class="dropdown-item" id="m-op" type="button">Alterar Senha</button>
																</li>
																<li>
																	<button class="dropdown-item" id="m-op" type="button" name="deletarConta" value="4">Deletar Conta</button>
																</li>
																<li>
																	<button class="dropdown-item" name="sair" id="m-op" type="submit" value="5">Sair</button>
																</li>
															</form>
															
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<script>
								/**/         
								</script>
							<% } %>
						</form>
						</div>
					</div>
				  </nav>
			  	</header>
				<main>
						<div class="container">
							<div class="row">
								<h1 id="nome">Jessica Andrade de Souza</h1>
							</div>
							<div class="row justify-content-md-center">
								<img class="socio" src="/image/acessor2.png" title="Jessica Andrade de Souza" alt="Acessor Jessica Andrade de Souza">
							</div>
							<div class="row">
								<div class="apresentacao">
									<p2>Jessica se graduou em economia pela Universidade Federal do Espírito Santo no ano de 2005, desde então vem trabalhando no ramo de investimentos  de forma satisftória, chegando a acolumar um patrimônio de mais de 1 milhão de reais.
										A sua parceria com a Buffett Asset já dura mais de 5 anos, tendo um destacável historico profissional com nossa empresa, garantido a satisfação financia que todos os nossos clientes necessitam.</p2>
									</div>
							</div>
						</div>
				</main>	 
				
				<footer>
					<!-- Grid container -->
					<div class="container-fluid">
						<div class="row">
							<div class="col-1">
								<a href="#"><img class="redes" src="/image/instagram.png"/></a>
							</div>
							<div class="col-1">
								<a href="#"><img class="redes" src="/image/whatsapp.png"/></a>
							
							</div>
							<div class="col-1">
								<a href="#"><img class="redes" src="/image/Telegram.png"/></a>
							</div>
							
							<div class="col-1">
								<a href="https://github.com/AlexSkntks/Projeto-Piloto"><img class="redes" src="/image/github.png"/></a>
							</div>

							<div class="col-8">
								<div class="chat" style="border-style: solid; border-radius: 100px; width: 80px; background-color: #C1B0F2;">
									<a href="#"><img class="redes" src="/image/chat.png"/></a>

								</div>

							</div>
						</div>
					</div>
				</footer>
				
		</div>
  </body>

 	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script type="textjavaScript" src="/js/bootstrap.js"></script>
  	<script type="textjavaScript" src="/js/bootstrap.min.js"></script>
</html>