body{
	justify-content: center;
	display: flex;
}

#logo{
	margin-left: 50px;
	height: 116px;
	width: 253px;
}
p{
    @font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
    font-size: 14pt;
	text-align: center;
}
p2{
	@font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
    font-size: 14pt;
}
.apresentacao{
	justify-content: center;
	text-align: justify;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 50px;
}

h5{
	@font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
}

h2{
	@font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
}

.space-navbar{
	margin-right: 100px;
}
main{
	margin-top: 110px;
	margin-bottom: 100px;
}

footer{
	background-color: #9E8FCA;
	padding-top: 10px;
	height: 50px;
}

.main{
	background-image: url("imagens/Rectangle_1.png");
	background-repeat: no-repeat;
	background-color: #F0EFEF;
	width: 1440px;
	text-align: center;
}

#botao-login{
	background-color: none;
	/* padding-left: 50px; */
	/* margin-left: 300px; */
	/* padding-left: 30%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.acessar-conta{
	border-radius: 10px;
	background-color:#9E8FCA;
	width: 100%; height: 100%;
	border-style: solid;
	border-color: black;
	color: black;
}

.login-decoracao{
	width: 230px;
	height: 45px;
	background-color:#9E8FCA;
}

.texto-menu{
	font-size: 18pt;
}
/* Estilo de socios */
.box-socio{
	display: flex;
	align-items: center;
	justify-content: center;
}
.socio{
	justify-content: center;
	align-content: center;
	width: auto;
}
#nome{
	margin-top: 25px;
}

.redes{
	width: 30px;
	height: 30px;
}


.col-4{
	background-color: blueviolet;
}

.chat{
	float: right;
}
.col-2{
	border-style: solid;
	background-color: blueviolet;
}


/*CSS de contatos*/
.texto-contato1{
	/* padding-left: 100px; */
	text-align: left;
}
.texto-contato2{
	padding-left: 20px;
	text-align: justify;
	border-left: black;
	border-left-style: solid;
}
.texto-contato3{
	padding-top: 15px;
	text-align: justify;
	/* margin-left: 100px; */
	margin-top: 20px;
	border-top: solid;
	margin-bottom: 150px;
}
.destaque{
	text-align: left;
	font-size: 25px;
}
.titulo{
	text-align: left;
	justify-content: left;
	font-size: 25px;
}
