body{
	justify-content: center;
	display: flex;
	background-color: #F0EFEF
}
.backgroung{
	background-color: rgb(61, 196, 112);
	background-image: url('img_girl.jpg');
}
#logo{
	margin-left: 10px;
	height: 86px;
	width: 223px;
}
p{
    @font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
    font-size: 13pt;
	text-align: center;
}

.main{
	width: 1440px;
	height: 1437px;
	text-align: center;
}

.login{
	
}
.login-decoracao{
	justify-content: center;
	align-content: center;
	width: 170px;
	background-color:#837f8f;
	border-radius: 12px;
}

#socio{
	justify-content: center;
	align-content: center;
}