body{
	justify-content: center;
	display: flex;
}
#logo{
	margin-left: 50px;
	height: 116px;
	width: 253px;
}
p{
    @font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
    font-size: 14pt;
	text-align: center;
}
p2{
	@font-face{
        font-family: 'Play';
        src : url('Play-Bold.ttf') format ('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: 'Play', Time, serif;
    font-size: 14pt;
}
.apresentacao{
	justify-content: center;
	text-align: justify;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 50px;
}

main{
	margin-top: 110px;
	margin-bottom: 100px;
}

footer{
	background-color: #9E8FCA;
	padding-top: 10px;
	height: 50px;
}
.main{
	background-image: url("imagens/Rectangle_1.png");
	background-repeat: no-repeat;
	background-color: #F0EFEF;
	width: 1440px;
	text-align: center;
}

#botao-login{
	background-color: none;
	padding-left: 40%;
	margin-right: 200px;
}
.login-decoracao{
	width: 230px;
	height: 45px;
	background-color:#9E8FCA;
	border-radius: 12px;
	border-style: solid;
	margin-right: 50px;
}
#texto-login{
	color: white;
}

.texto-menu{
	font-size: 18pt;
}

.socio{
	justify-content: center;
	align-content: center;
}

.redes{
	width: 30px;
	height: 30px;
}


.col-4{
	background-color: blueviolet;
}

.chat{
	/* width: max-content;*/
	float: right;
}
.col-2{
	border-style: solid;
	/* float: left;
	left: 0;
	width: max-content; */
	background-color: blueviolet;
	

}
